// .badascarousel{
//     background-image: url('../imgs/background1.png');
//     background-position: center;
//     background-size: cover;

// }
.divinslider{
    h3{
        text-align: center;
        font-size: 50px;
        padding: 0;
        margin: 0;
    }
    
    p{
        text-align: center;
        color: red;
        text-align: center;
    }
}
