.blogPage{
    padding: 0 85px;
    .celebrations{
        color:red;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .blog-container{
        display: flex;
        flex-direction: column;
        gap: 80px;
        .blog-post{

            display: flex;
            flex-direction: column;
            align-items: center;
            .postTitle{
                font-size: 35px;
                font-weight: 800;
                margin: 0 auto;
                color: red;
                & * {color: red ;}
                
            }
            .imgandcontent{
                display: flex;
                // flex-wrap: wrap;


                .post-image{
                    height: 500px;
                    border-radius: 50px;
                    margin-right: 50px;
                }
                .post-content{
                    
                    text-align: justify;
                }
            }
            
            .post-date{
                width: 100%;
                text-align: end;
            }
            
        }
    }
}



@media (max-width: 1024px){
    .blogPage{
        padding: 80px 20px;
        .blog-container{
            .blog-post{
                .post-image{
                    width: 100%;
                    height: auto;
                    
                }
            }
        }
    }
}



